{% extends 'base.html.twig' %}

{% block title %}Edit Voiture{% endblock %}

{% block body %}
    <h1>Edit Voiture</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('voiture_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
